* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  border: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Lucida, Tahoma, Arial, sans-serif;
  color: #333333;
}
button,
input[type=submit] {
  border: none;
  background: transparent;
  border-radius: 3px;
  font-family: inherit;
  font-size: 13px;
  cursor: pointer;
}
button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
  border: none;
}
button:focus,
input[type=submit]:focus {
  outline: none;
}
#shadow {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.35);
}
#add-task-popup {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 1px solid #666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: #FFF;
}
#add-task-popup h3 {
  margin: 0;
  padding: 15px 0;
  background: #0271c7;
  font-size: 18px;
  font-weight: normal;
  color: #FFF;
  text-align: center;
}
form#add-task-form {
  padding: 20px;
}
form#add-task-form input[type=text],
form#add-task-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #A2A2A2;
  border-radius: 5px;
  font-family: inherit;
  font-size: 14px;
  -webkit-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
form#add-task-form input[type=text].error,
form#add-task-form textarea.error {
  border-color: lightcoral;
  box-shadow: 0 0 5px lightcoral;
  -webkit-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
form#add-task-form input[type=text]:focus,
form#add-task-form textarea:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px #66afe9;
  -webkit-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
form#add-task-form input[type=text] {
  margin-bottom: 15px;
}
form#add-task-form input[type=text]:first-child {
  width: 210px;
}
form#add-task-form input[type=submit] {
  padding: 10px;
  border: none;
  background: #35ac19;
  font-family: inherit;
  font-size: 16px;
  color: #FFF;
}
form#add-task-form input[type=submit]:hover {
  background: #2E9D17;
}
form#add-task-form textarea {
  height: 200px;
  resize: none;
}
form#add-task-form .buttons {
  margin-top: 15px;
  text-align: center;
}
form#add-task-form .buttons span {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  background: #d14836;
  color: #FFF;
  cursor: pointer;
}
form#add-task-form .buttons span:hover {
  background: #c53727;
}
#wrapper {
  min-width: 768px;
}
header {
  background: #f4f4f4;
  padding: 50px 20px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
header .header-content {
  width: 1360px;
  margin: 0 auto;
  overflow: hidden;
}
header .header-content .btn-group {
  float: left;
}
header .header-content .btn-group button {
  height: 40px;
  padding: 10px;
  background: #0271c7;
  font-size: 14px;
  color: #FFF;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
header .header-content .btn-group button + button {
  margin-left: 10px;
}
header .header-content .btn-group button:hover {
  background: #037ae9;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
header .header-content .serch-form {
  float: right;
}
header .header-content .serch-form::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  background: url("../images/icons.png") no-repeat 0 0;
}
header .header-content .serch-form input[type=text] {
  width: 220px;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3) inset, -1px -1px 2px rgba(0, 0, 0, 0.3) inset;
  font-family: inherit;
  font-size: 14px;
  -webkit-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
header .header-content .serch-form input[type=text]:focus {
  box-shadow: 1px 1px 2px #66afe9 inset, -1px -1px 2px #66afe9 inset;
  -webkit-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
#content {
  padding: 20px 20px 50px;
}
#content .content-main {
  width: 1360px;
  margin: 0 auto;
}
#content .content-main .change-date {
  margin-bottom: 20px;
}
#content .content-main .change-date button {
  height: 30px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) inset, -1px -1px 2px rgba(0, 0, 0, 0.2) inset;
  font-size: 13px;
  vertical-align: middle;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
#content .content-main .change-date button:hover {
  background: rgba(0, 0, 0, 0.05);
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
#content .content-main .change-date button:last-child {
  margin-left: 5px;
}
#content .content-main .change-date button#prev-month,
#content .content-main .change-date button#next-month {
  width: 30px;
}
#content .content-main .change-date button#prev-month::before,
#content .content-main .change-date button#next-month::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background: url("../images/icons.png") no-repeat;
}
#content .content-main .change-date button#prev-month::before {
  background-position: -34px 0;
}
#content .content-main .change-date button#next-month::before {
  background-position: -34px -17px;
}
#content .content-main .change-date span {
  margin: 0 5px;
  vertical-align: middle;
  font-size: 20px;
}
#content .content-main table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
#content .content-main table td {
  height: 160px;
  padding: 10px;
  border: 1px solid #eeeeee;
  font-size: 14px;
  color: #A9A9A9;
  vertical-align: top;
  overflow: hidden;
}
#content .content-main table td.has-tasks {
  background: #C2E4FE;
}
#content .content-main table td.has-tasks p {
  margin: 5px 0 0;
  line-height: 1.5;
  color: #676868;
}
#content .content-main table td.today {
  background: #F4F4F4;
}
#content .content-main table td.today > span {
  font-weight: bold;
}
@media only screen and (max-width: 1440px) {
  header .header-content {
    width: 984px;
  }
  #content .content-main {
    width: 984px;
  }
  #content .content-main table td {
    height: 140px;
  }
}
@media only screen and (max-width: 1024px) {
  #add-task-popup h3 {
    font-size: 16px;
  }
  #add-task-popup form input[type=text],
  #add-task-popup form input[type=date],
  #add-task-popup form textarea {
    font-size: 12px;
  }
  #add-task-popup form input[type=submit] {
    font-size: 14px;
  }
  #add-task-popup form .buttons span {
    font-size: 14px;
  }
  header .header-content {
    width: 728px;
  }
  header .header-content .btn-group button {
    height: 30px;
    padding: 5px;
    font-size: 12px;
  }
  header .header-content .serch-form input[type=text] {
    width: 180px;
    height: 30px;
    font-size: 12px;
  }
  #content .content-main {
    width: 728px;
  }
  #content .content-main .change-date {
    margin-bottom: 20px;
  }
  #content .content-main .change-date button {
    height: 25px;
    font-size: 12px;
  }
  #content .content-main .change-date span {
    margin: 0 5px;
    vertical-align: middle;
    font-size: 16px;
  }
  #content .content-main table td {
    height: 100px;
    padding: 5px;
    font-size: 10px;
  }
}
